body {
  font-family: "Segoe UI";
  text-align: center;
}

section {
  margin-top: 60px;
}

h1 {
  text-align: center;
}
.head {
  height: 105px;
  background-color: rgba(30, 39, 46, 1);
  position: static;
}
.img {
  position: relative;
  height: 100px;
  left: 33%;
}

.img2 {
  position: relative;
  display: inline;
  left: 33%;
}
.menubar {
  position: relative;
  left: 0px;
  top: 0px;
  width: 100%;
  box-shadow: 16px 16px 32px black;
  background: rgba(179, 57, 57, 1);
  display: flex;
  margin: 0 auto;
}
.menu-dropdown {
  display: flex;
  align-items: center;
  margin: 0;
  list-style-type: none;
}
.menu-dropdown .md-item {
  position: relative;
  left: 20 px;
  transition: background-color 0.5s;
}
.menu-dropdown .md-item:hover {
  /* efeito hover nos itens do menu principal */
  background-color: black;
}
.menu-dropdown .md-item a {
  color: #fff;
  font-family: "Segoe UI";
  font-size: 19px;
  padding: 10px 20px;
  text-decoration: none;
  display: flex;
}
.menu-dropdown .md-item a:hover {
  /* efeito hover nos links do menu principal */
  background: black;
}
.submenu-dropdown {
  display: none; /* esconde o submenu dropdown */
  position: absolute;
  width: 100%;
}
.sd-item:hover .submenu-dropdown {
  display: flex;
}
.submenu-dropdown .sd-item {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 0;
  top: 100%;
  width: 100%;
}
.submenu-dropdown .sd-item a {
  width: 100%;
  padding: 10px;
  background: rgba(179, 57, 57, 1);
  color: #fff;
}
.submenu-dropdown .sd-item a:hover {
  /* efeito hover nos itens do submenu dropdown */
  background-color: black;
}
.menu-dropdown .md-item:hover .submenu-dropdown {
  /*efeito hover para alterar a cor de fundo*/
  background-color: black;
  display: flex; /* exibir o submenu dropdown */
}

.mb-3 {
  width: 300px;
  margin-left: 10px;
  margin-top: 25px;
}

.headersection {
  margin-top: -16px;
  background-color: rgba(30, 39, 46, 1);
  color: white;
}

.textsection {
  text-align: center;
  width: 30%;
  font-size: 50px;
  margin-left: 20px;
  margin-top: 120px;
}

.chat {
  border-radius: 15px 15px 15px 15px;
  border: 1px solid black;
  width: 320px;
  height: 330px;
  position: absolute;
  bottom: 50px;
  right: 50px;
  background-color: rgba(179, 57, 57, 1);
}
.head-chat {
  color: white;
  background-color: rgba(30, 39, 46, 1);
  border-radius: 15px 15px 0px 0px;
}

.send {
  position: absolute;
  left: 10px;
}
.labelchat {
  color: white;
  background-color: rgba(30, 39, 46, 1);
}

.labelcontact {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #cc6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 20%;
  box-sizing: border-box;
  outline: 0;
}

.labelcontact2 {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #cc6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 20%;
  box-sizing: border-box;
  outline: 0;
  height: 120px;
}
.labelcontact3 {
  color: gray;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #cc6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 15%;
  box-sizing: border-box;
  outline: 0;
  height: 40px;
  text-align: center;
}

.labelcontact4 {
  color: gray;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #cc6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 380px;
  box-sizing: border-box;
  outline: 0;
  height: 60px;
  text-align: left;
}

.footerend {
  text-align: end;
  float: right;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
}

.image5 {
  width: auto;
  height: 580px;
  display: block;
  position: relative;
}

.image5::after {
  content: "";
  background-image: url("../img/escola.png");
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.distancia {
  margin-top: 150px;
  margin-bottom: 150px;
}

.distancia2 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.center {
  text-align: center;
}
